@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #26272a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@keyframes flip-heads {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(720deg);
  }
}

@keyframes flip-tails {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(900deg);
  }
}

@keyframes flip-heads-from-tails {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(720deg);
  }
}

@keyframes flip-tails-from-tails {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(900deg);
  }
}

.coin {
  transform-style: preserve-3d;
}

.flip-heads {
  animation: flip-heads 1s ease-in-out forwards;
}
.flip-tails {
  animation: flip-tails 1s ease-in-out forwards;
}
.flip-heads-from-tails {
  animation: flip-heads-from-tails 1s ease-in-out forwards;
}
.flip-tails-from-tails {
  animation: flip-tails-from-tails 1s ease-in-out forwards;
}

.heads, .tails {
  backface-visibility: hidden;
}
.heads {
  z-index: 10;
}
.tails {
  transform: rotateY(180deg);
}